__pycache__
report.pdf
web/

# ===== OS / File manager =====
.DS_Store
Thumbs.db
Desktop.ini

# ===== Editors / IDE =====
.idea/
.vscode/
*.swp
*.swo
*~

# ===== Logs / temp =====
*.log
*.tmp
*.temp
_tmp*


# ===== Generic build folders =====
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/

# ===== Temp folders =====

# out*
_tmp*

# ===== Executable =====

*.exe
*.out
